
<h1>Recent Post</h1>

    <%#= link_to "Profile", current_user_show %>

<%= link_to "Create new post", :new_post %>

<ul class="media-list">

    <% @posts.each do |post| %>

        <li class="media">
           <strong> <%= post.title %> </strong> <br>
            <%= post.content %> <br>
            <%#= image_tag post.image.url(:thumb)%>
            <% if post.image.file? %>
              <%= image_tag post.image.url(:thumb) %> <br>

              <% end %>
              <br>
              POSTED by: <%=link_to "#{post.user.f_name}", user_path(post.user)%> .. click to see my profile! <br>
            <%= link_to "More info", post_path(post) %>
        </li>

        <br>
        <br>
        <hr>
    <% end %>
</ul>
