
<h1>Today's Post</h1>


<%= link_to "Create new post", :new_post %>

<ul>

    <% @posts.each do |post| %>

            <strong> <%= post.title %> </strong> <br>
            <%= post.content %> <br>
            <%#= image_tag post.image.url(:thumb)%>
            <% if post.image.file? %>
              <%= image_tag post.image.url(:thumb) %> <br>

              <% end %>
              <br>
              POSTED by: <%= post.user.f_name %> .. click to see my profile! <br>
            <%= link_to "More info", post_path(post) %>


        <br>
        <br>
        <br>
    <% end %>
</ul>
