<h1>Add a new post!</h1>

<%= form_for @post do |f| %>

    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :image, 'Image:' %>
        <%= f.file_field :image %>
    </div>

    <div>
        <%= f.label :content %>
        <%= f.text_area :content %>
    </div>


    <%= f.submit "Add new Post!" %>

<% end %>

<%= link_to "Back to the Posts!", posts_path %>
