<!DOCTYPE html>
<html>
  <head>
    <title>Artsy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <h1>Artsy <%= "| Welcome #{current_user.f_name.capitalize}" if current_user%>  |<%= link_to 'My Profile', current_user if current_user%> | <%= link_to 'Log Out', logout_path, method: :delete if current_user %></h1>

<hr>
<hr>
    <%= render 'partials/nav' %>
  <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
